/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 250px;
    max-width: 250px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    transition: all 0.3s;
}

.sidebar-inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    height: 100%;
}

.sidebar-inner .flex-scroll {
    overflow-y: auto;
    min-height: 0;
    -webkit-box-flex: 1;
    flex: 1;
}

#sidebar.closed {
    margin-right: -250px;
}

.sidebar-control {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: #f9f9f9;
    left: -2.5rem;
    top: .5rem;
    border: solid 1px #ddd;
    border-radius: 5px 0 0 5px;
    border-right: transparent;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

#sidebar, .sidebar-control {
    box-shadow: 0 0 5px #06060626;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #e3e2e2;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#content.sidebar-active {
    margin-right: 250px;
}

#svg-container {
    text-align: center;
}

/** Slider */
input[type="range"].form-control {
    padding: .375rem .75rem;
}

input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 2em;
    color: #aaa;
    font-size: .7rem;
}

input[type="range"]:before {
    left:0em;
    content: attr(min);
}

input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

input[type="range"].size-range:before {
    content: "short";
}

input[type="range"].size-range:after {
    content: "long";
}
/* Slider **/

text {
    pointer-events: none;
    font-size: 1.5rem;
}